.form-container {
    position: relative;
}

.form {
    width: 300px;
    background-color: #000;
    padding: 20px;
}

.form input {
    margin-right: 15px;
}

.close {
    position: absolute;
    right: -5px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 8px;
    top: -10px;
}

.close:hover {
    animation:spin 300ms linear 1;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }